<nav class='navbar'></nav>

<!-- hero -->
<section class='page-hero'>
  <div class='section-center'>
    <h3 class='page-hero-title'>Home / {{title}}</h3>
  </div>
</section>

<div class='container-auth'>
  <div class='card-auth'>
    <h2 class='signIn'>/ New Password</h2>
    <div class='img-container-auth'></div>
    <form action='/auth/password' method='POST' class='form-auth'>
      {{#if error}}
        <p class='alert'>{{error}}</p>
      {{/if}}
      <p style='font-weight: bold' class='signIn'>Please, lead a new password</p>
      <input
        id='password'
        class='input-auth'
        name='password'
        type='password'
        placeholder='password'
        required
      />
      <span class='helper-text' data-error='please, add new password'></span>

      <input type='hidden' name='UserId' value={{userId}} />
      <input type='hidden' name='token' value={{token}} />

      <button class='input-auth register-button' type='submit'>new password</button>
    </form>
  </div>
</div>