<nav class='navbar'></nav>
<section class='page-hero'>
  <div class='section-center'>
    <h3 class='page-hero-title'>Home / {{title}}</h3>
  </div>
</section>

<section class='products'>
  <h2>404 error</h2>
  <h2>page is not defined</h2>
  <a href='/'>Back on the main page</a>
</section>